package main

import "github.com/blinkinglight/datastar-by-example/shared"

templ Intersect() {
	@shared.Main() {
		<h1 class="text-2xl font-bold mb-4">Infinite Scroll Example</h1>
		<div id="intersect">
			@LoadMore()
		</div>
		// <div data-on-intersect__half="@get('/')" id="a">Loading...</div>
	}
}

templ LoadMore() {
	for i := 0; i < 25; i++ {
		<div class="item">Item { i }</div>
	}
    <div data-on-intersect__once="@get('/')" id="a"></div>
}
